$rem:469/16rem;

.home-wrap {
    width: 100%;
    font-size: 18/$rem;
    .home-carousel {
        width: 100%;
        height: 240/$rem;
        background-color: #fff;
        margin-bottom: 10/$rem;
        .home-menu {
            height: 240/$rem;
            box-sizing: border-box;
            padding: 0 30/$rem;
            li {
                float: left;
                width: 65/$rem;
                height: 80/$rem;
                font-size: 16/$rem;
                text-align: center;
                margin-right: 20/$rem;
                margin-top: 13/$rem;
                margin-bottom: 17/$rem;
                &:nth-of-type(5n) {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                    margin-bottom: 5/$rem;
                }
            }
        }
    }
    .dots {
        position: absolute;
        left: 50%;
        top: 280/$rem;
        transform: translateX(-50%);
        li {
            width: 12/$rem;
            height: 12/$rem;
            float: left;
            border-radius: 50%;
            background-color: #ccc;
            &:nth-of-type(2) {
                margin: 0 8/$rem;
            }
            &.active {
                background-color: #f5734b;
            }
        }
    }
    .home-promotions {
        width: 469/$rem;
        height: 231/$rem;
        padding: 0 15/$rem;
        margin-bottom: 10/$rem;
        box-sizing: border-box;
        background-color: #fff;
        .home-promotions-header {
            p {
                width: 100%;
                height: 56/$rem;
                display: flex;
                // background-color: red;
                align-items: center;
                justify-content: space-between;
                >i:nth-of-type(1) {
                    color: #ff6a65;
                    font-size: 22/$rem;
                }
                >i:nth-of-type(2) {
                    color: #bbbbbb;
                    font-size: 16/$rem;
                }
            }
        }
        .home-promotions-content {
            width: 136/$rem;
            float: left;
            margin-right: 10/$rem;
            line-height: 25/$rem;
            img {
                width: 100%;
            }
            h3 {
                font-weight: normal;
            }
            p {
                font-size: 20/$rem;
                color: #ff6633;
                i {
                    text-decoration: line-through;
                    font-size: 12/$rem;
                    color: #ccc;
                }
            }
        }
    }
    .goods-list {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20/$rem;
        background-color: #fff;
        .goods-header {
            color: #777777;
            line-height: 53/$rem;
        }
        .goods-more {
            line-height: 40/$rem;
            color: #777;
            font-size: 20/$rem;
            text-align: center;
        }
        .goods-item {
            width: 100%;
            height: 114/$rem;
            margin-bottom: 28/$rem;
            img {
                width: 113/$rem;
                margin-right: 12/$rem;
            }
            .goods-detail {
                float: right;
                width: 302/$rem;
                height: 100%;
                line-height: 35/$rem;
                h3 {
                    font-size: 20/$rem;
                    font-weight: 800;
                }
                >p {
                    font-size: 16/$rem;
                    color: #777777;
                }
                .goods-price {
                    p:nth-of-type(1) {
                        float: left;
                        color: #ff6633;
                        font-weight: bold;
                        font-size: 22/$rem;
                        i {
                            font-weight: normal;
                            font-size: 18/$rem;
                            color: #777;
                            text-decoration: line-through;
                        }
                    }
                    p:nth-of-type(2) {
                        float: right;
                        color: #777;
                        font-size: 16/$rem;
                    }
                }
            }
        }
    }
    .home-footer {
        width: 100%;
        height: 180/$rem;
        box-sizing: border-box;
        padding-top: 20/$rem;
        .home-nav-list {
            >p {
                font-size: 15/$rem;
                text-align: center;
                line-height: 35/$rem;
                a {
                    color: #adadad;
                    text-decoration: none;
                    margin-right: 15/$rem;
                }
            }
        }
        .copyright {
            color: #d1d1d1;
            margin-top: 20px;
            font-size: 16/$rem;
            text-align: center;
            text-shadow: 0 1px 1px #fff;
        }
    }
}